<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
<div class="block padding">
  <h3>TODO Study links</h3>
  <ul class="navigation">
    <li><a href="http://guides.railschina.org/action_controller_overview.html">Contoller</a></li>
    <li><a href="http://guides.railschina.org/form_helpers.html">Rails Form helpers</a></li>
    <li><a href="http://guides.railschina.org/layouts_and_rendering.html">Layouts and Rendering in Rails</a></li>
    <li><a href="http://guides.railschina.org/active_record_querying.html">Active Record Querying</a></li>
    <li><a href="http://guides.railschina.org/association_basics.html">A Guide to Active Record Associations</a></li>
    <li><a href="http://guides.railschina.org/active_record_validations_callbacks.html">Validations Callback</a></li>
  </ul>
  <ul class="navigation">
    <li><a href="http://guides.ruby-china.org/migrations.html">Migrations</a></li>
    <li><a href="http://guides.railschina.org/engines.html">Rails Engine</a></li>
    <li><a href="http://guides.railschina.org/caching_with_rails.html">Rails with Cache</a></li>
    <li><a href="http://guides.railschina.org/command_line.html">Rake command line</a></li>
    <li><a href="http://guides.railschina.org/performance_testing.html">Performance Test</a></li>
    <li><a href="http://guides.railschina.org/configuring.html">System Configuring</a></li>
    <li><a href="http://guides.railschina.org/testing.html">Unit test</a></li>
  </ul>
</div>