<div class="block notice">
  <h3>Simple Blog</h3>
  <div class="content">
    <p> A simple blog to record life & study ...</p>  
  </div>
</div>
<div class="block padding">
  <h3>TODO Study links</h3>
  <ul class="navigation">
    <li><a href="http://radiantcms.org/">Radiant CMS</a></li>
  </ul>
</div>